<!DOCTYPE html>
<html>
<head>
	<title>Date time </title>
	<style>
		
		.top_box{
			padding-left: 500px;
		}
		.box{
			width: 500px;
			height: 80px;
			border: solid black 2px;
			text-align: center;
			font-size: 20px;

		}
		.line{
			width: 500px;
			height: 100;
			border: solid black 2px;
			text-align: center;
			margin-top: 30px;
			font-size: 50px;
		}
	</style>
</head>
<body>
	<div class="top_box">
		<div class="box">
			<p>The current time and date:</p>
		</div>

		<div class="line"><p>{{date}}</p>
			<p>{{time}}</p>
		
		</div>
	</div>
</body>
</html>


